/* Google Fonts lato */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* Variables */
:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}
/* Reset and body styling */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
